<h1>TO DO</h1>
<ul>
    @if(todo.length>0){
    @for(task of todo;track task.id){
    <li>{{task.title}}
        <button (click)="removeTask(task.id)">X</button>
        <button (click)="editTask(task)">editar</button>

        <div *ngIf="task.isEditing">
            <input [(ngModel)]="task.title" />
            <button (click)="saveEdit(task)">Guardar</button>
            <button (click)="cancelEdit(task)">Cancelar</button>
        </div>
    </li>

    }
    }@else{
    <p>No hay tareas que mostrar</p>
    }


</ul>
<hr>
<app-create-task (taskCreated)="addTask($event)"></app-create-task>